<h1>My first attr directive</h1>

<span [myHighlight]="color" [defaultColor] = "'khaki'" [testVar]="test">ну тест епта</span>

<span [myHighlight]="color" [defaultColor] = "'pink'">ну тест епта</span>

<div>
    <input type="radio" name="colors" (click)="color = 'lightgreen'"> Green
    <input type="radio" name="colors" (click)="color = 'yellow'"> Yellow
    <input type="radio" name="colors" (click)="color = 'cyan'"> Gay
    <a href="#test" data-test="test" (click)="test = 'scuko'">Test scuko</a>
    <a href="#test" data-test="test" (click)="test = 'scuko1'">Test scuko1</a>
</div>
