body {
  margin: 0;
  padding: 0;
  background: rgba(189, 204, 212, 0.25);
}
body .container-fluid.attention {
  background: #ffffff;
  font-family: "Roboto", Arial;
  font-weight: 300;
  font-size: 16px;
  width: 802px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 40px 40px 40px;
  border: 1px solid #bdccd4;
  box-shadow: 0 0 0 1px #fff;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
body .container-fluid.attention h2 {
  font-weight: 300;
  font-size: 18px;
  color: #5d6d79;
  line-height: 25px;
  margin-top: 27px;
}
body .container-fluid.attention p {
  margin: 27px 0;
  color: #5d6d79;
  line-height: 25px;
}
body .container-fluid.attention a {
  text-decoration: none;
  color: #0070cd;
}
body .container-fluid.attention .header {
  text-align: right;
  padding-bottom: 30px;
  border-bottom: 1px solid #bdccd4;
}
body .container-fluid.attention .header:after {
  content: '';
  display: block;
  clear: both;
}
body .container-fluid.attention .header img.logo {
  display: inline-block;
  width: 277px;
  height: 21px;
  vertical-align: middle;
  float: left;
  margin-top: 10px;
}
body .container-fluid.attention .header a {
  display: inline-block;
  text-decoration: none;
  color: #5d6d79;
  padding: 10px;
  border: 1px solid #bdccd4;
  border-radius: 5px;
}
body .container-fluid.attention .header a:hover {
  background: rgba(189, 204, 212, 0.25);
  box-shadow: inset 0 0 0 1px #fff;
}
body .container-fluid.attention .header a img {
  width: 30px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
body .container-fluid.attention .clear {
  clear: both;
}
body .container-fluid.attention .clear a {
  display: inline-block;
  text-decoration: none;
  color: #5d6d79;
  padding: 10px;
  border: 1px solid #bdccd4;
  border-radius: 5px;
}
body .container-fluid.attention .clear a:hover {
  background: rgba(189, 204, 212, 0.25);
  box-shadow: inset 0 0 0 1px #fff;
}
body .container-fluid.attention .clear p {
  display: inline-block;
  float: right;
  margin: 0 0 10px 0;
}
