@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 700;
  src: url(../font/myriad-set-pro_bold.ttf);
}
@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 300;
  src: url(../font/myriad-set-pro_thin.ttf);
}
@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 500;
  src: url(../font/myriad-set-pro_medium.ttf);
}
@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 400;
  src: url(../font/myriad-set-pro_text.ttf);
}
@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 100;
  src: url(../font/myriad-set-pro_ultralight.ttf);
}
@font-face {
  font-family: "Museo Sans Curl";
  font-weight: 600;
  src: url(../font/myriad-set-pro_semibold.ttf);
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  position: relative;
  color: #fff;
  margin-top: -2px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Myriad Set Pro", 'Helvetica Neue', sans-serif;
}
h2 {
  font-size: 52px;
  line-height: 1.0556;
  font-weight: 200;
  letter-spacing: -0.024em;
  margin-bottom: 0;
}
p {
  color: #333;
  font-style: normal;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 300;
  letter-spacing: normal;
}
.sub_heading {
  font-size: 42px;
  line-height: 1.1429;
  font-weight: 200;
  letter-spacing: -0.01em;
}
img {
  max-width: 100%;
}
.container-fluid a {
  color: inherit;
}
.container-fluid a.normal_link {
  color: #08c;
}
.container-fluid a:hover,
.container-fluid a:focus {
  text-decoration: none;
  color: inherit;
}
.button {
  display: inline-block;
  padding: 6px 29px;
  font-size: 15px;
}
.button.flat {
  border-radius: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background: #DD5158;
}
.row.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 12;
  text-align: center;
  padding: 15px 0 10px 0;
  color: black;
}
.row.header .normal_link {
  font-size: 24px;
  line-height: 1.3375;
  font-weight: 300;
  letter-spacing: normal;
}
.row.header .container {
  position: relative;
  width: 100%;
}
.row.header .logo {
  float: left;
}
.row.header .logo svg {
  width: 96px;
  height: 62px;
}
.row.header .logo path {
  fill: #000;
}
.row.header .logo .st1 {
  fill: #fff;
}
.row.header:after {
  display: block;
  clear: both;
}
.row.header .right {
  float: right;
  margin-top: 3px;
}
.row.header .tel {
  font-size: 17px;
  font-weight: 300;
  display: block;
  margin: 10px 0 0 0;
  letter-spacing: 0.05em;
  text-align: center;
}
.row.header .menu_center {
  text-align: center;
  float: left;
  margin-left: 3%;
  margin-top: 13px;
}
.row.header .menu_center .menu_link {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  margin: 0 28px;
  letter-spacing: 0.25em;
}
.row.first {
  background: url('../img/test.jpeg') no-repeat;
  background-size: cover;
  min-height: 600px;
  position: relative;
}
.row.first:before {
  content: '';
  display: block;
  background: #fff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.row.first .container {
  position: relative;
  z-index: 2;
}
.row.first .title {
  color: black;
  font-weight: 300;
  font-size: 52px;
  letter-spacing: 0.25em;
  display: block;
  margin: 200px auto 0 auto;
  line-height: 58px;
  text-align: center;
}
.row.first .title span {
  font-size: 72px;
  line-height: 1.0556;
  font-weight: 200;
  letter-spacing: -0.014em;
  margin-bottom: 0;
  text-align: left;
  display: inline-block;
}
.row.first svg path {
  fill: none;
  stroke: transparent;
  stroke: #000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.row.first .underline_path {
  position: absolute;
  right: 400px;
}
.row.first .underline_container svg {
  display: none;
}
.row.first .underline_container.active svg {
  display: block;
}
.row.first .underline_container.active .underline_path path {
  -webkit-animation: dash 520ms cubic-bezier(0.63, 0.25, 0.25, 0.9) forwards;
  animation: dash 520ms cubic-bezier(0.63, 0.25, 0.25, 0.9) forwards;
}
.row.steps .step {
  margin: 60px 0;
  position: relative;
}
.row.steps .step:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #DEDEDE;
}
.row.steps .step:last-of-type:before {
  display: none;
}
.row.steps .step .col-md-4 {
  background-color: #f8f8f8;
}
.row.steps .step .steps_title {
  font-size: 32px;
  line-height: 1.0556;
  font-weight: 200;
  letter-spacing: -0.004em;
  margin-bottom: 0;
  text-align: center;
}
.row.steps .step:after {
  content: '';
  display: block;
  clear: both;
}
.row.steps .step .col-md-8 {
  padding: 0 40px;
  display: table;
  height: 182px;
}
.row.steps .step .col-md-8 p {
  display: table-cell;
  vertical-align: middle;
}
.row.steps .step.prototyping .col-md-4 {
  padding-top: 13px;
  height: 182px;
  background-image: url('../img/dima.svg');
}
.row.steps .step.prototyping .col-md-8 {
  padding: 0 40px;
  display: table;
  height: 182px;
}
.row.steps .step.prototyping .col-md-8 p {
  display: table-cell;
  vertical-align: middle;
}
.row.steps .step.design .col-md-4 {
  background-image: url('../img/design_try.jpg');
  padding-top: 13px;
  height: 182px;
  background-size: cover;
  color: #fff;
  text-align: left;
}
.row.steps .step.front .col-md-4 {
  background-image: url('../img/mockups.png');
  padding-top: 13px;
  height: 182px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: black;
  text-align: left;
}
.row.steps .step:nth-of-type(even) .col-md-4 {
  float: right;
}
.row.node {
  background: black;
}
.row.node canvas {
  height: 700px;
  display: block;
  width: 100%;
}
.row.padding {
  padding: 20px 0;
}
.slider {
  width: 500px;
  background: rgba(0, 90, 50, 0.7);
}
