@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 700;
  src: url(../font/myriad-set-pro_bold.ttf);
}
@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 300;
  src: url(../font/myriad-set-pro_thin.ttf);
}
@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 500;
  src: url(../font/myriad-set-pro_medium.ttf);
}
@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 400;
  src: url(../font/myriad-set-pro_text.ttf);
}
@font-face {
  font-family: "Myriad Set Pro";
  font-weight: 100;
  src: url(../font/myriad-set-pro_ultralight.ttf);
}
@font-face {
  font-family: "Museo Sans Curl";
  font-weight: 600;
  src: url(../font/myriad-set-pro_semibold.ttf);
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  position: relative;
  color: #fff;
  margin-top: -2px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Myriad Set Pro", 'Helvetica Neue', sans-serif;
}
h2 {
  font-size: 52px;
  line-height: 1.0556;
  font-weight: 200;
  letter-spacing: -0.024em;
  margin-bottom: 0;
}
p {
  color: #333;
  font-style: normal;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 300;
  letter-spacing: normal;
}
.sub_heading {
  font-size: 42px;
  line-height: 1.1429;
  font-weight: 200;
  letter-spacing: -0.01em;
}
img {
  max-width: 100%;
}
.container-fluid a {
  color: inherit;
}
.container-fluid a.normal_link {
  color: #08c;
}
.container-fluid a:hover,
.container-fluid a:focus {
  text-decoration: none;
  color: inherit;
}
.button {
  display: inline-block;
  padding: 6px 29px;
  font-size: 15px;
}
.button.flat {
  border-radius: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background: #DD5158;
}
.row.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 12;
  text-align: center;
  padding: 15px 0 10px 0;
  color: black;
}
.row.header .normal_link {
  font-size: 24px;
  line-height: 1.3375;
  font-weight: 300;
  letter-spacing: normal;
}
.row.header .container {
  position: relative;
}
.row.header .logo {
  float: left;
}
.row.header .logo svg {
  width: 56px;
  height: 36px;
  margin-top: 9px;
}
.row.header .logo path {
  fill: rgba(0, 0, 0, 0.5);
}
.row.header .logo .st1 {
  fill: #fff;
}
.row.header:after {
  display: block;
  clear: both;
}
.row.header .right {
  float: right;
  margin-top: 3px;
}
.row.header .tel {
  font-size: 17px;
  font-weight: 300;
  display: block;
  margin: 7px 0 0 0;
  letter-spacing: 0.05em;
  text-align: center;
}
.row.header .menu_center {
  text-align: center;
  float: left;
  margin-left: 3%;
  margin-top: 13px;
}
.row.header .menu_center .menu_link {
  font-weight: 300;
  font-size: 17px;
  margin: 0 28px;
  letter-spacing: 0.25em;
}
.row.header .menu_center .menu_link.blue {
  color: #08c;
}
.row.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  opacity: 1;
  background: rgba(248, 248, 248, 0.92);
  padding: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  -ms-transition: transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
}
.row.header.fixed .menu_center {
  margin-left: 0;
}
.row.header.fixed a {
  color: black;
  margin: 0;
}
.row.header.fixed a.tel {
  margin-top: 8px;
}
.row.header.fixed a.logo {
  margin: -4px 0 0 0;
  height: 48px;
  padding: 0 12px;
  position: relative;
}
.row.header.fixed a.logo svg {
  width: 33px;
}
.row.header.fixed a.logo svg path {
  fill: rgba(0, 0, 0, 0.7);
}
.row.header.fixed a.logo:after {
  content: '';
  display: block;
  height: 16px;
  width: 1px;
  background: black;
  position: absolute;
  right: 0;
  top: 19px;
}
.row.header.fixed .menu_link {
  color: black;
  margin: 0;
  font-size: 15px;
  padding: 0 12px;
  position: relative;
}
.row.header.fixed .menu_link:after {
  content: '';
  display: block;
  height: 11px;
  width: 1px;
  background: black;
  position: absolute;
  right: 0;
  top: 16%;
}
.row.header.fixed .menu_link.blue {
  color: inherit;
}
.row.header.fixed .menu_link:last-of-type:after {
  display: none;
}
.row.header.fixed .logo svg {
  width: 30px;
}
.row.header.fixed.closed {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.row.first {
  background: url('../img/test.jpeg') no-repeat;
  background-size: cover;
  min-height: 600px;
  position: relative;
}
.row.first:before {
  content: '';
  display: block;
  background: #fff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.row.first .container {
  position: relative;
  z-index: 2;
}
.row.first .title {
  color: black;
  font-weight: 300;
  font-size: 52px;
  letter-spacing: 0.25em;
  display: block;
  margin: 200px auto 0 auto;
  line-height: 58px;
  text-align: center;
}
.row.first .title span {
  font-size: 72px;
  line-height: 1.0556;
  font-weight: 200;
  letter-spacing: -0.014em;
  margin-bottom: 0;
  text-align: left;
  display: inline-block;
}
.row.first svg path {
  fill: none;
  stroke: transparent;
  stroke: #000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.row.first .underline_path {
  position: absolute;
  right: 400px;
}
.row.first .underline_container svg {
  display: none;
}
.row.first .underline_container.active svg {
  display: block;
}
.row.first .underline_container.active .underline_path path {
  -webkit-animation: dash 520ms cubic-bezier(0.63, 0.25, 0.25, 0.9) forwards;
  animation: dash 520ms cubic-bezier(0.63, 0.25, 0.25, 0.9) forwards;
}
.row.steps .step {
  margin: 60px 0;
  position: relative;
}
.row.steps .step:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #DEDEDE;
}
.row.steps .step:last-of-type:before {
  display: none;
}
.row.steps .step .col-md-4 {
  background-color: #f8f8f8;
}
.row.steps .step .steps_title {
  font-size: 32px;
  line-height: 1.0556;
  font-weight: 200;
  letter-spacing: -0.004em;
  margin-bottom: 0;
  text-align: center;
}
.row.steps .step:after {
  content: '';
  display: block;
  clear: both;
}
.row.steps .step .col-md-8 {
  padding: 0 40px;
  display: table;
  height: 182px;
}
.row.steps .step .col-md-8 p {
  display: table-cell;
  vertical-align: middle;
}
.row.steps .step.prototyping .col-md-4 {
  padding-top: 13px;
  height: 182px;
  background-image: url('../img/dima.svg');
}
.row.steps .step.prototyping .col-md-8 {
  padding: 0 40px;
  display: table;
  height: 182px;
}
.row.steps .step.prototyping .col-md-8 p {
  display: table-cell;
  vertical-align: middle;
}
.row.steps .step.design .col-md-4 {
  background-image: url('../img/design_try.jpg');
  padding-top: 13px;
  height: 182px;
  background-size: cover;
  color: #fff;
  text-align: left;
}
.row.steps .step.front .col-md-4 {
  background-image: url('../img/mockups.png');
  padding-top: 13px;
  height: 182px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: black;
  text-align: left;
}
.row.steps .step:nth-of-type(even) .col-md-4 {
  float: right;
}
.row.node {
  background: black;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.row.node h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
  font-weight: 500;
}
.row.node .video_text {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  visibility: hidden;
}
.row.node .video_text.active {
  opacity: 1;
  visibility: visible;
}
.row.node .video_text p {
  color: inherit;
  display: inline-block;
  font-weight: 300;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.row.node .video_text p:nth-of-type(2) {
  margin: 0 20px;
}
.row.node .video_text p.active {
  color: #70bce2;
  border-bottom: 1px solid;
}
.row.node .video_text p:hover {
  color: #70bce2;
}
.row.node .video_text .text_description {
  color: #b3b3b3;
  font-size: 1.167em;
  max-width: 500px;
  margin: 20px auto;
  display: none;
}
.row.node .video_text .text_description.active {
  display: block;
}
.row.node video {
  height: 1000px;
  display: block;
  width: 100%;
}
.row.padding {
  padding: 20px 0;
}
.row.portfolio {
  padding: 60px 0;
}
.row.portfolio .container {
  position: relative;
}
.row.portfolio a {
  font-size: 18px;
  line-height: 1.3375;
  font-weight: 200;
  letter-spacing: normal;
  color: #08c;
  display: inline-block;
}
.row.portfolio a.next {
  margin-left: 20px;
}
.row.portfolio .title {
  font-size: 42px;
  line-height: 1.1429;
  font-weight: 300;
  letter-spacing: normal;
  margin-bottom: 0.15em;
}
.row.portfolio .blob {
  max-width: 300px;
  margin: 0 auto;
}
.row.portfolio .blob_text {
  position: absolute;
  width: 300px;
  top: 90px;
  left: 80px;
}
.row.portfolio img {
  width: 100%;
}
.row.contacts {
  background: #f8f8f8;
}
.row.contacts h2 {
  padding: 0 15px;
  margin-top: 0;
}
.row.contacts .submit {
  font-size: 23px;
  line-height: 1.3375;
  font-weight: 300;
  color: #158cfb;
  display: block;
  text-align: right;
  letter-spacing: 0.1em;
  position: relative;
  padding-right: 40px;
  padding-top: 3px;
}
.row.contacts .submit:after {
  content: '';
  display: block;
  bottom: 0;
  margin: auto;
  max-height: 32px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  background: url(../img/submit.png) no-repeat;
  background-size: cover;
}
.row.contacts input,
.row.contacts textarea {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  height: 44px;
  font-family: inherit;
  font-size: 18px;
  white-space: nowrap;
  line-height: 24px;
  color: #333;
  padding: 0 20px;
  float: left;
  margin: 5px 0;
}
.row.contacts input.half_input,
.row.contacts textarea.half_input {
  width: -webkit-calc(50% - 5px);
  width: -ms-calc(50% - 5px);
  width: -moz-calc(50% - 5px);
  width: -o-calc(50% - 5px);
  width: calc(50% - 5px);
}
.row.contacts input.half_input:nth-of-type(2),
.row.contacts textarea.half_input:nth-of-type(2) {
  float: right;
}
.row.contacts input.company_name,
.row.contacts textarea.company_name {
  width: 100%;
  clear: both;
  float: none;
}
.row.contacts textarea {
  width: 100%;
  clear: both;
  float: none;
  padding-top: 9px;
  height: 200px;
}
.row.contacts .text p span {
  font-weight: 400;
}
.row.footer {
  background: rgba(139, 139, 139, 0.63);
  padding: 10px;
}
.row.footer .col-xs-12 {
  position: relative;
}
.row.footer p {
  font-style: normal;
  font-size: 12px;
  line-height: 1.45;
  font-weight: 300;
  color: #fff;
  margin: 0;
  letter-spacing: normal;
}
.row.footer .logo {
  position: absolute;
  width: 55px;
  top: 0;
  right: 0;
}
.row.footer .logo path {
  fill: rgba(17, 17, 17, 0.56);
}
.row.footer .logo .st1 {
  fill: #fff;
}
.title {
  font-size: 28px;
  line-height: 1.1429;
  font-weight: 200;
  letter-spacing: normal;
  margin-bottom: 0.25em;
  margin-top: 0.6429em;
}
