
<!--Created by dmitry on 23.02.16.
-->
<!--
Created by dmitry on 23.02.16.

--><!DOCTYPE html>
<html>
  <head>
    <title>частные мастера</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/app.css">
  </head>
  <body>
    <section class="container-fluid">
      <header class="row header"><a href="/" class="logo"><img src="img/logo.png"></a>
        <nav class="menu"><a class="menu_link">href=&quot;#&quot; Преимущества</a><a class="menu_link">href=&quot;#&quot; Портфолио</a><a class="menu_link">href=&quot;#&quot; Прайс-лист</a><a href="tel:" class="menu_link tel"><span>+7(928)</span>975-99-75</a>
        </nav>
      </header>
    </section>
  </body>
</html>