extends partial/layout
block content
    section.row.first
        div.container
            h1.main_header Ремонт быстро и качественно, <br /> настоящими профессионалами своего дела
            p.budge_container
                span.budge Светло
                span.budge красиво
                span.budge Современно
            a(href='#').button.rounded Получить консультацию
    //row.first
    div.row.carousel
        div.container
            div.gallery#materials_carousel
                div.gallery-cell
                    div.left_text
                        h2.bordered Работаем по технологии
                            <svg class="knauf" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 761.23 450.77"><defs><style>.cls-1{fill:#3eb5f1}</style></defs><title>Knauf_logo [преобразованный]</title><path class="cls-1" d="M611.45 450.77l53.07-355.52h96.71l-6.55 41.44h-35.62l-7.28 58.16h34.18l-5.82 41.44h-34.9l-31.99 214.48h-61.8zM389.67 96.7l-82.85 264.64h58.16l13.09-53.07h19.6l-2.18 53.07h52.38L459.5 96.69h-69.83zm16 170.86h-21.06l32-119.24zm98.91-171.31l-32 219.29s-9.49 51.87 62.53 50.17c61.8-1.46 67.61-48.71 67.61-48.71l32.73-221.75H583.1l-32 215.21s1.45 16-13.09 15.27-10.91-11.63-10.91-11.63l32.72-217.39zM156.32 362.07h49.44l18.9-118.51 8 116.33 58.16.73 38.54-262.47h-49.45l-16.72 101.79-7.27-101.79h-58.89l-40.71 263.92zm-74.89 0h58.16L123.6 223.21l48.71-123.6h-52.35l-36.35 98.88L109.79 0H54.53L0 362.8h55.98l18.91-112.69 6.54 111.96z"/></svg>
                        p.text Здесь описание относящиеся к картинке, при смене картинки, меняется и описание.
                    div.right_image
                        img(src="img/gallery_test.png" alt="Работаем по технологии кнауф")
                div.gallery-cell
                    div.left_text
                        h2.bordered Работаем по технологии
                            <svg class="knauf" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 761.23 450.77"><defs><style>.cls-1{fill:#3eb5f1}</style></defs><title>Knauf_logo [преобразованный]</title><path class="cls-1" d="M611.45 450.77l53.07-355.52h96.71l-6.55 41.44h-35.62l-7.28 58.16h34.18l-5.82 41.44h-34.9l-31.99 214.48h-61.8zM389.67 96.7l-82.85 264.64h58.16l13.09-53.07h19.6l-2.18 53.07h52.38L459.5 96.69h-69.83zm16 170.86h-21.06l32-119.24zm98.91-171.31l-32 219.29s-9.49 51.87 62.53 50.17c61.8-1.46 67.61-48.71 67.61-48.71l32.73-221.75H583.1l-32 215.21s1.45 16-13.09 15.27-10.91-11.63-10.91-11.63l32.72-217.39zM156.32 362.07h49.44l18.9-118.51 8 116.33 58.16.73 38.54-262.47h-49.45l-16.72 101.79-7.27-101.79h-58.89l-40.71 263.92zm-74.89 0h58.16L123.6 223.21l48.71-123.6h-52.35l-36.35 98.88L109.79 0H54.53L0 362.8h55.98l18.91-112.69 6.54 111.96z"/></svg>
                        p.text Здесь описание относящиеся к картинке, при смене картинки, меняется и описание.
                    div.right_image
                        img(src="img/gallery_test.png" alt="Работаем по технологии кнауф")
                div.gallery-cell
                    div.left_text
                        h2.bordered Работаем по технологии
                            <svg class="knauf" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 761.23 450.77"><defs><style>.cls-1{fill:#3eb5f1}</style></defs><title>Knauf_logo [преобразованный]</title><path class="cls-1" d="M611.45 450.77l53.07-355.52h96.71l-6.55 41.44h-35.62l-7.28 58.16h34.18l-5.82 41.44h-34.9l-31.99 214.48h-61.8zM389.67 96.7l-82.85 264.64h58.16l13.09-53.07h19.6l-2.18 53.07h52.38L459.5 96.69h-69.83zm16 170.86h-21.06l32-119.24zm98.91-171.31l-32 219.29s-9.49 51.87 62.53 50.17c61.8-1.46 67.61-48.71 67.61-48.71l32.73-221.75H583.1l-32 215.21s1.45 16-13.09 15.27-10.91-11.63-10.91-11.63l32.72-217.39zM156.32 362.07h49.44l18.9-118.51 8 116.33 58.16.73 38.54-262.47h-49.45l-16.72 101.79-7.27-101.79h-58.89l-40.71 263.92zm-74.89 0h58.16L123.6 223.21l48.71-123.6h-52.35l-36.35 98.88L109.79 0H54.53L0 362.8h55.98l18.91-112.69 6.54 111.96z"/></svg>
                        p.text Здесь описание относящиеся к картинке, при смене картинки, меняется и описание.
                    div.right_image
                        img(src="img/gallery_test.png" alt="Работаем по технологии кнауф")
                div.gallery-cell
                    div.left_text
                        h2.bordered Работаем по технологии
                            <svg class="knauf" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 761.23 450.77"><defs><style>.cls-1{fill:#3eb5f1}</style></defs><title>Knauf_logo [преобразованный]</title><path class="cls-1" d="M611.45 450.77l53.07-355.52h96.71l-6.55 41.44h-35.62l-7.28 58.16h34.18l-5.82 41.44h-34.9l-31.99 214.48h-61.8zM389.67 96.7l-82.85 264.64h58.16l13.09-53.07h19.6l-2.18 53.07h52.38L459.5 96.69h-69.83zm16 170.86h-21.06l32-119.24zm98.91-171.31l-32 219.29s-9.49 51.87 62.53 50.17c61.8-1.46 67.61-48.71 67.61-48.71l32.73-221.75H583.1l-32 215.21s1.45 16-13.09 15.27-10.91-11.63-10.91-11.63l32.72-217.39zM156.32 362.07h49.44l18.9-118.51 8 116.33 58.16.73 38.54-262.47h-49.45l-16.72 101.79-7.27-101.79h-58.89l-40.71 263.92zm-74.89 0h58.16L123.6 223.21l48.71-123.6h-52.35l-36.35 98.88L109.79 0H54.53L0 362.8h55.98l18.91-112.69 6.54 111.96z"/></svg>
                        p.text Здесь описание относящиеся к картинке, при смене картинки, меняется и описание.
                    div.right_image
                        img(src="img/gallery_test.png" alt="Работаем по технологии кнауф")
                div.gallery-cell
                    div.left_text
                        h2.bordered Работаем по технологии
                            <svg class="knauf" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 761.23 450.77"><defs><style>.cls-1{fill:#3eb5f1}</style></defs><title>Knauf_logo [преобразованный]</title><path class="cls-1" d="M611.45 450.77l53.07-355.52h96.71l-6.55 41.44h-35.62l-7.28 58.16h34.18l-5.82 41.44h-34.9l-31.99 214.48h-61.8zM389.67 96.7l-82.85 264.64h58.16l13.09-53.07h19.6l-2.18 53.07h52.38L459.5 96.69h-69.83zm16 170.86h-21.06l32-119.24zm98.91-171.31l-32 219.29s-9.49 51.87 62.53 50.17c61.8-1.46 67.61-48.71 67.61-48.71l32.73-221.75H583.1l-32 215.21s1.45 16-13.09 15.27-10.91-11.63-10.91-11.63l32.72-217.39zM156.32 362.07h49.44l18.9-118.51 8 116.33 58.16.73 38.54-262.47h-49.45l-16.72 101.79-7.27-101.79h-58.89l-40.71 263.92zm-74.89 0h58.16L123.6 223.21l48.71-123.6h-52.35l-36.35 98.88L109.79 0H54.53L0 362.8h55.98l18.91-112.69 6.54 111.96z"/></svg>
                        p.text Здесь описание относящиеся к картинке, при смене картинки, меняется и описание.
                    div.right_image
                        img(src="img/gallery_test.png" alt="Работаем по технологии кнауф")
    //row.carousel
    section.row.advantages
        div.container
            h2.bordered Преимущества гипсокартона
            div.col-md-4.col-sm-4.col-xs-12.item
                div.blob
                    div.blob_inner
                        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                        <svg class="rouble" viewBox="0 0 16 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.4.3 (16044) - http://www.bohemiancoding.com/sketch -->
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="P-+--" sketch:type="MSLayerGroup" fill="#000000">
                        <path d="M5.03537988,8.55 L5.03537988,3.2 L8.08537988,3.2 C8.53538213,3.2 8.96871113,3.233333 9.38537988,3.3 C9.80204863,3.366667 10.1687116,3.49583237 10.4853799,3.6875 C10.8020481,3.87916763 11.0562123,4.14999825 11.2478799,4.5 C11.4395475,4.85000175 11.5353799,5.3083305 11.5353799,5.875 C11.5353799,6.4416695 11.4395475,6.89999825 11.2478799,7.25 C11.0562123,7.60000175 10.8020481,7.87083237 10.4853799,8.0625 C10.1687116,8.25416763 9.80204863,8.383333 9.38537988,8.45 C8.96871113,8.516667 8.53538213,8.55 8.08537988,8.55 L5.03537988,8.55 Z M1.11037988,0.15 L1.11037988,12 L1.11037988,20.0000004 L5.03537983,20.0000004 L5.03537988,11.6 L9.16037988,11.6 C10.2770521,11.6 11.2270426,11.4375016 12.0103799,11.1125 C12.7937171,10.7874984 13.4312108,10.358336 13.9228799,9.825 C14.414549,9.291664 14.7728788,8.67917012 14.9978799,7.9875 C15.222881,7.29582987 15.3353799,6.59167025 15.3353799,5.875 C15.3353799,5.141663 15.222881,4.43333675 14.9978799,3.75 C14.7728788,3.06666325 14.414549,2.458336 13.9228799,1.925 C13.4312108,1.391664 12.7937171,0.962501625 12.0103799,0.6375 C11.2270426,0.312498375 10.2770521,0.15 9.16037988,0.15 L1.11037988,0.15 Z" id="P" sketch:type="MSShapeGroup"></path>
                        <path d="M0,13 L0,16.05 L13,16.05 L13,13 L0,13 Z" id="-" sketch:type="MSShapeGroup"></path>
                        </g>
                        </g>
                        </svg>
                        h3.ad_header цена
                        p.text.
                            Установка конструкций используя гипсокарон, обходится гораздо дешевле, чем используя аналогичные методы
            div.col-md-4.col-sm-4.col-xs-12.item
                div.blob
                    div.blob_inner

                        <?xml version="1.0" encoding="iso-8859-1"?>
                        <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg class="eco_img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="470.223px" height="470.223px" viewBox="0 0 470.223 470.223" style="enable-background:new 0 0 470.223 470.223;" xml:space="preserve">
                        <path d="M25.804,222.216c0.421,0.421,1.09,0.995,1.979,1.693c23.141-61.286,78.04-116.94,78.04-116.94 c-25.819,30.944-39.158,97.174-44.838,134.037c25.742,8.625,61.229,10.738,92.374-20.693 c53.799-54.296-8.195-124.246,86.311-186.851c0,0-121.481-33.431-198.995,44.791C-36.849,156.483,19.034,215.503,25.804,222.216z" />
                        <path d="M412.684,283.387c0,0,84.207-93.722,48.884-198.029C426.253-18.95,348.472,4.66,339.444,7.71 c-0.564,0.191-1.387,0.536-2.4,1.014c44.476,48.099,69.721,122.084,69.721,122.084c-16.142-36.931-69.414-78.47-99.852-100.033 c-19.221,19.173-36.979,49.974-22.778,91.886C308.653,195.059,398.933,170.865,412.684,283.387z"/>
                        <path d="M369.681,354.675c-7.535-26.076-25.972-56.476-69.538-64.23c-75.256-13.397-97.556,77.37-202.782,35.209 c0,0,41.549,118.947,149.969,138.255c108.419,19.307,125.211-60.226,126.885-69.605c0.104-0.594,0.2-1.464,0.268-2.592 c-63.571,15.797-140.568,2.267-140.568,2.267C274.046,397.63,336.116,370.96,369.681,354.675z"/>
                        </svg>
                        h3.ad_header Экологичность
                        p.text Гипсокартон полностью эколочиный материал,  состоит буквально  из гипса и картона
            div.col-md-4.col-sm-4.col-xs-12.item
                div.blob
                    div.blob_inner
                        <?xml version="1.0" encoding="iso-8859-1"?>
                        <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg class="time" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="97.16px" height="97.16px" viewBox="0 0 97.16 97.16" style="enable-background:new 0 0 97.16 97.16;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823 c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z"/>
                        <path d="M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832 c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z"/>
                        </g>
                        </g>
                        </svg>
                        h3.ad_header Скорость
                        p.text Гипсокартон позволяет создать идеально ровные стены значительно быстрее, чем более трудоемкий процесс шпатленвания
            a.button.rounded(href="#") Заказать звонок
    //row.advantages
    section.row.portfolio
        div.blob
            div.container
                h2.bordered Портфолио
                div.portfolio_item
                    div.gallery.js-flickity.main
                        div.gallery-cell
                            img(src="img/test_portfolio.jpg" alt="some")
                        div.gallery-cell
                            img(src="img/test_portfolio.jpg" alt="some")
                        div.gallery-cell
                            img(src="img/test_portfolio.jpg" alt="some")
                        div.gallery-cell
                            img(src="img/test_portfolio.jpg" alt="some")
                        div.gallery-cell
                            img(src="img/test_portfolio.jpg" alt="some")
                    div.gallery.js-flickity.nav
                        div.gallery-cell
                            img(src="img/test_portfolio.jpg" alt="some")











