extends partial/layout
block content
    section.row.first
        div.container
            h1.main_header= head_link
            span.budge Светло
            span.budge красиво
            span.budge Современно
            a(href='#').button.rounded Получить консультацию
    //row.first
    div.row.carousel
        div.container
            div.gallery.js-flickity
                div.gallery-cell
                    div.left_text
                        h2.bordered Работаем по технологии кнауф
                        p.text Здесь описание относящиеся к картинке, при смене картинки, меняется и описание.
                    div.right_image
                        img(src="img/knauf_test.png" alt="Работаем по технологии кнауф")
    //row.carousel
    section.row.advantages
        div.container
            h2.bordered Преимущества гипсокартона
            div.col-md-4.col-sm-4.col-xs-12.item
                img(src="img/money.svg")
                h3.ad_header цена
                p.text.
                    Установка конструкций используя гипсокарон, обходится гораздо дешевле, чем используя аналогичные методы
            div.col-md-4.col-sm-4.col-xs-12.item
                img(src="eco.svg")
                h3.ad_header Экологичность
                p.text Гипсокартон полностью эколочиный материал,  состоит буквально  из гипса и картона
            div.col-md-4.col-sm-4.col-xs-12.item
                img(src="time.svg")
                h3.ad_header Скорость
                p.text Гипсокартон позволяет создать идеально ровные стены значительно быстрее, чем более трудоемкий процесс шпатленвания
            a.button.rounded(href="#") Заказать звонок
    //row.advantages
    section.row.portfolio
        div.container
            div.gallery.js-flickity
                div.gallery-cell
                    img(src="img/test_portfolio.png" alt="some")
            div.gallery.js-flickity
                div.gallery-cell
                    img(src="img/test_portfolio.png" alt="some")













