@import url(https://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic);
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/LatoBold.ttf) format('ttf');
}