a {
	color: #016294;
}
.content, body {
	background-color: #d5e5eb;
}
.bar-nav {
	background-color: #056390;
	border: none;
}
.bar-nav .title {
	font-size: 20px;
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
}
.bar-nav .icon {
	color: #fff;
}
input[type="search"] {
	border: none;
	height: 40px;
	-webkit-box-shadow: 0 3px 3px #b9d8e2;
	box-shadow: 0 3px 3px #b9d8e2;
}
.btn:active, .btn.active {
	background-color: #ff5b0f;
	color: #fff;
}
.search-form {
	position: relative;
	z-index: 5;
}
.btn-search {
	padding: 10px;
	color: #fff;
	background-color: #056390;
	border: none;
  	font-size: 20px;
  	line-height: 1;
  	border-radius: 20px;
  	position: absolute;
  	right: 0;
  	top: 0;
}
.search-wrap {
	position: relative;
}
h1, h2, h3 {
	text-align: center;
	color: #00385a;
	font-family: 'PT Sans Narrow', sans-serif;
}
h1, h2 {
	font-size: 1.2em;

}
p {
	color: black;
}
.content-padded h1.search-title,
.search-title {
	text-align: center;
	color: #00385a;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	padding-bottom: .25em;
}
.text-center {
	text-align: center;
}
.nav {
    height: 100%;
    width: 250px;
    background-color: #0a4a3c;
    left: 0;
    top: 0;
    z-index: 9;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-250px,0);
    background-color: #0c3442;
    padding-top: 50px;

}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}
.table-view-cell, .table-view, .card, input {
	border-color: #dfebf1;
}
.table-view-cell > a:not(.btn):active {
	background-color: #f4fafa;
}
.nav .table-view {
	background-color: transparent;
	color: #fff;
	border: none;
}
.nav .table-view-cell {
	border: none;
	font-size: 16px;
}
.nav .table-view-cell > a:not(.btn):active,
.nav .table-view-cell > a:not(.btn).active
{
	background-color: #016294;
}
.search-variants {
	margin-top: -40px;
}
.search-variants .table-view-cell:first-child {
	border-bottom: none;
}
.table-view.phones .table-view-cell {
	width: 50%;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.phones .table-view-cell > a:not(.btn) {
	margin-right: -10px;
	margin-left: -10px;
}
.content > .table-view.phones:first-child {
	margin-top: 0;
}
.phones {
	background-color: #fff;
	-webkit-box-shadow: 0 3px 5px #81bfd1;
	box-shadow: 0 3px 5px #81bfd1;
	line-height: 1;
	margin-bottom: 1em;
}
.phone	{
	padding: 7px 10px;
	overflow: hidden;
	float: left;
	width: 50%;
	font-weight: bold;
}
.phone {
	color: #016294;
}
.phone .fa {
	float: left;
	font-size: 1.5em;
}
.phone-title {
	margin-left: 30px;
	font-size: .8em;
}
.phone-itself {
	margin-left: 30px;
	color: #84adba;
	font-size: .6em;
	font-weight: normal;
	line-height: 1.2;
}
.search-example {
	color: #6694a2;
	font-size: .8em;
	padding-left: 18px;
}
.search-example span {
	color: #016294;
	border-bottom: 1px dashed #016294;
}
input[type="search"] {
	padding-left: 15px;
	margin-bottom: 10px;
}
.top-categories {
	font-size: 0;
	text-align: justify;
	margin-top: 20px;
}
.top-categories:after {
	display: inline-block;
	width: 100%;
	content: ' ';
	height: 1px;
}
.top-categories .category{
	display: inline-block;
	background-color: #fff;
	border-radius: 3px;
	width:31%;
	font-size: 12px;
	text-align: center;
	margin-bottom: 3%;
	height: 70px;
}
.top-categories .category:last-child {
	margin-right: 0;
}
hr {
	border-top: 1px solid #a8cfd5;
	border-bottom: 1px solid #fff;
	margin: 20px 10px;
}
.search + hr {
	margin-top: 10px;
}
.table-view-cell.product {
	padding: 10px 55px 10px 10px;
}
.products {
	border: 0;
}
.products .table-view-cell > a:not(.btn) {
	margin: -10px -55px -10px -10px;
}
.product .btn {
	border: 0;
	right: 0;
	color: #f55628;
	background-color: transparent;
}
.product img {
	width: 60px;
}
.product .btn:active {
	background: transparent;
}
.product .fa-shopping-cart {
	display: block;
	font-size: 2em;
	margin-bottom: 5px;
}
.product-title {
	font-size: .8em;
	line-height: 1.2;
	margin-bottom: .8em;
}
.product .price {
	font-size: 1.1em;
	
}

.page-footer {
	font-size: .65em;
	line-height: 1.5;
}
.footer-phones {
	font-size: 1.5em;
	margin-bottom: .5em;
}

.breadcrumbs {
	list-style-type: none;
	padding: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 20px 10px;
}
.breadcrumbs li {
	display: inline-block;
}
.breadcrumbs li:after {
	content: '/';
	margin-left: .3em;
	display: inline-block;
}
.breadcrumbs li:last-child {
	font-weight: bold;
	color: #00385a;
}
.breadcrumbs li:last-child:after {
	content: '';
}
.breadcrumbs li a {
	text-decoration: underline;
}
.table-view.transparent {
	background-color: transparent;
	border: 0;
}
.categories .navigate-left:after, 
.categories .navigate-right:after, 
.categories .push-left:after, 
.categories .push-right:after {
	color: #f55628;
}
.categories .navigate-right:after, 
.categories .push-right:after {
	right: 10px;
}
.categories .category {
	font-weight: bold;
	font-size: .8em;
}
.sort {
	font-size: .8em;
	text-align: justify;
	line-height: 1.2;
	margin: 20px 10px;
}
.sort a {
	border-bottom: 1px dashed #016294;
}
.sort-title {
	float: left;
	margin-right: 10px;
}
.sort-variants {
	float: right;
}
.sort-variants span {
	margin-left: 1em;
}
.sort .up:after {
	content: '↑';
	margin-left: .2em;
}
.sort .down:after {
	content: '↓';
	margin-left: .2em;
}
.btn-loadmore {
	background-color: #fff;
	color: #f55628;
	border: 0;
	font-size: 1em;
	width: 65%;
	margin: 40px auto;
	border-radius: 5px;
}
.btn-addtocart {
	color: #f55628;
	border-color: #f55628;
}
.product-item > .table-view > .table-view-cell{
	padding: 15px 10px;
}
.product-item--title {
	text-align: left;
	font-weight: normal;
	color: #000;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.1em;
	line-height: 1.2;
	margin: 10px;
}
.product-item--image {
	display: block;
	width: 100%;
	height: auto;
}
.product-item--buy {
	overflow: hidden;
}
.product-item--buy .price {
	float: left;
	color: #f55628;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.4;
}
.product-item--buy .buy{
	float: right;
}
.product-item--block-title {
	position: relative;
}
.product-item--block-title a {
	border-bottom: 1px dashed #016294;
}
.product-item--block-title.active a {
	color: #000;
	font-weight: bold;
	border: 0;
}
.product-item--block-title + .product-item--block-content {
	display: none;
}
.product-item--block-title.active + .product-item--block-content {
	display: block;
	margin-top: 1em;
}
.product-item--block-title button{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	margin-top:-2px;
}
.product-item--block-content p {
	margin: 1em 0;
	line-height: 1.5;
}
.product-item--block-content .table-view {
	margin: 0 -10px;
}
.product-item--description {
	height: auto;
	overflow: hidden;
}
.product-item--description p:first-child {
	margin-top: 0;
}
.product-item--description.collapsed {
	padding-bottom: 20px;
	height: 200px;
}
.product-item--block-title .buttons {
	display: none;
}
.product-item--block-title.active .buttons {
	display: inline;
}
.hide {
	display: none !important;
}